
{% extends 'base.html' %}
{% from 'macros.html' import render_teachers with context %}
{% set name={"travel": "Для путешествий",
           "study": "Для учебы",
           "work": "Для работы",
           "relocate": "Для переезда"} %}
{% block main %}
    {% if request.path == "/goals/travel/" %}
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>⛱<br />Преподаватели <br>{{name[goal]}}</strong></h1>
    {% endif %}
    {% if request.path == "/goals/study/" %}
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🏫 <br />Преподаватели <br>{{name[goal]}}</strong></h1>
    {% endif %}
    {% if request.path == "/goals/work/" %}
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🏢 <br />Преподаватели <br>{{name[goal]}}</strong></h1>
    {% endif %}
    {% if request.path == "/goals/relocate/" %}
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br />Преподаватели <br>{{name[goal]}}</strong></h1>
    {% endif %}


      <div class="row">
       {{ render_teachers(teacher) }}

      </div>

{% endblock %}





