{% macro render_teachers(teachers,goal=False) %}
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">
         {% for teacher in teachers %}
         <div class="card mb-4">
           <div class="card-body">
            <div class="row">
              <div class="col-3"><img src='{{ teacher.picture }}' class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                <h2 class="h4">{{ teacher.name }}</h2>
                <p>{{ teacher.about|truncate(170) }}</p>
                <a href='/profiles/{{ teacher.id }}/' class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>

               </div>
             </div>
           </div>
         </div>
         {% endfor %}


      </div>

{% endmacro %}


{% macro render_profile(teacher,calendar) %}

    <div class="card-body m-2 m-md-4">
        <h2 class="h5 mb-4">Записаться на пробный урок</h2>

        <table class="table" >
          <tr>
            <th><span class="btn font-weight-bold py-0">#</span></th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
          </tr>
          {% for time in ('8:00', '10:00', '12:00', '14:00', '16:00', '18:00', '20:00', '22:00') %}
          <tr>
            <td><span class="btn">{{ time }}</span></td>
            {% for day in  ('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %}
            {% if calendar[day][time] == 'False' %}
                <td><a href="" class="btn btn-sm btn-secondary" disabled>{{ time }}</a></td>
            {% else %}
                <td><a href="{{ url_for("booking",teacher_id = teacher.id, time = time, day = day) }}" class="btn btn-sm btn-success" style="width:53px">{{ time }}</a></td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}

        </table>
        </form>
    </div>
{% endmacro %}
